/* CSS Imports "at least 3 imported files in the main CSS file" */
 @import "web2.css";
 @import "web3.css";
 @import "typographyweb.css";



@media (max-width:600px) { 


main {
    display: grid;
    margin: 0%;
    grid-template-columns:1fr;
    grid-template-rows: 80px 115px minmax(400px, auto) 1fr;
    border: 1px solid red;
    }


header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;  
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    align-content: center;
    border-bottom: 2px solid olive;
    }


.home {
    display: flex;
    width: auto;
    height: auto;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
    }


.title {
    display:flex;
    grid-column-start: 2;
    grid-column-end: 4;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
   /* border: 1px solid blue;*/
}


#nav_bar {
    display: flex;
    width: auto;
    height: auto;
    border: 2px solid red;} 


ul {
    display: flex;
    flex-flow: column;
    justify-items: start;
    width: 40px;
    height: 50px;
    border: 2px solid yellow; 
    margin-right: 10px; 
    }  


li {
    align-items: flex-start;
    font-size:0.9em;
    border: 1px solid blue;

    }


aside {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    /*border: 1px solid black;*/
    }


#box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;  
    background-image: url("../images/caracol.jpg");
    background-size: cover;
    border-radius: 20%;
    width: 100px;
    height: 100px;
    align-self: center;
    justify-self: center;
    border: 2px solid olive;
    }


#box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
    width: auto;
    height: auto;
    margin-right: 20px;
    font-size: 1em;
    text-align: start;
   /* border: 1px solid pink;*/
    }

    
.content {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 200px;
    grid-gap: 1%;
    text-align: center;
    /*border: 1px solid black;*/
    }


#box4 {
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 1;
     margin-left: 15px;
     /*border: 1px solid green;*/
    }

      
#box5 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 2;
     margin-left: 5px;
     width: auto;
     height: auto;
     border-radius: 15%;  
     background-image: url("../images/fermented_cabbage.jpg");
     background-size: cover;
     border: 4px solid olive;
    }


#box6 {
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
     margin-right: 5px;
     border-radius: 15%;  
     background-image: url("../images/little_plants.jpg");
     background-size: cover;
     border: 4px solid olive;
    }


footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-top: 1px solid olive;
    }

    
#about {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    margin-top: 5px;
    /*border: 2px solid black;*/
    }

    
#contact {
    display: flex;
    background-image: url("../images/icon_sm.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 30px;
    align-self: center;
    justify-self: center;
    }

}





