
  @import "theblog3.css";
  @import "theblog2.css";

  @media (max-width:600px) { 

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #fffff8;
    color: black;
    }

main {
    display: grid;
    margin: 0%;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr minmax(490px, auto) 100px;
    }
  

header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;  
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    align-content: center;
    border-bottom: 2px solid olive;
    }


.home {
    display: flex;
    width: auto;
    height: auto;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    }

    
a:hover {
    background-color: lemonchiffon; 
    }

  
.title {
    display:flex;
    grid-column-start: 2;
    grid-column-end: 4;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    }


#nav_bar {
    display:flex;
    } 

     
#ul {
    width: 50px;
    height: 40px;
    }  
    
    
li {
    font-size:0.9em;
    }


#box1 {
    display: flex;
    width: auto;
    height: auto;
    align-items: center; 
    justify-content: center; 
    margin: 4%; 
    }


#box2 {
    width: 60px;
    height: 60px;
    background-image: url("../images/author_photo.png");
    background-size: cover;
    border-radius: 50%;
    border: 4px solid olive;
    }


p {
    font-weight: lighter;
    line-height: 1.5; 
    font-size: 0.9em;
    width: 250px;
    height: 80px;
    margin-left:10px;
    align-self: center;
    justify-self:center;
    }


.content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }


#box3 {
    display:flex;
    flex-direction: column;
    text-align: justify;
    width: auto;
    margin: 4%;
    height: auto;
    }


article {
    font-weight: lighter;
    line-height: 1.4; 
    font-size: 0.9em;
    margin: 2%; 
    }


h1 {
    font-style: oblique;
    font-weight: lighter;
    font-size: 1.4em;
    }

    
h2 {
    font-style: italic;
    font-weight: lighter;
    font-size: 1.2em;
    }


h3 {
    font-style: italic;
    font-weight: lighter;
    font-size: 1.2em;
   }


footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-top: 2px solid olive; 
    }

#about {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 20px;
    }


#contact {
    display: flex;
    background-image: url("../images/icon_sm.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 30px;
    align-self: center;
    justify-self: center;
    }

  }

 