body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    }
/* Configuration breaks at 601 px. Optimized for Iphone 8 */ 

.container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 75px 120px 400px 1fr;
    border: 2px solid red;
    }


/* remember hover*/
.header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px;
    font-size: 1em; 
    align-content: center;
   /* border: 1px solid black;  */
    }

h1 {
    width: auto;
    height: auto;
    /*border: 2px solid red;*/
    }

.home {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
    }

.title {
    display:flex;
    grid-column-start: 2;
    grid-column-end: 4;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
   /* border: 1px solid blue;*/
    }

.menu{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    /*border: 2px solid red;*/
    }


.sidebar {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;
    align-items: center;
    justify-items:center;
    border: 1px solid black;
    }

p { 
    margin: 10px;
    border: 2px solid green;
    text-align: justify;
    }

#box1 {
    width: 80px;
    height: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;  
    border-radius: 60%;  
    /*background-image: url("author_photo.png");
    background-size: cover;*/
    border: 3px solid black;
    }

#box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; 
    font-size: 0.9em;
    text-align: center;
    border: 1px solid pink;
    }


.content {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 200px;
    grid-gap: 3%;
    text-align: center;
    border: 1px solid black;
    }

#box4 {
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 1;
     border: 1px solid green;
    }

#box5 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 2;
     width: auto;
     height: auto;
     background-image: url("images/fermented_cabbage.jpg");
     background-size: cover;
     border: 2px solid black;
    }

#box6 {
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
     background-image: url("images/little_plants.jpg");
     background-size: cover;
     border: 1px solid purple;
    }


.footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 50px;
    border: 1px solid black; 
    }

#about {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    /*border: 2px solid black;*/
    }

#contact {
    margin: 10%;
    background-image: url("images/icon_sm.png");
    background-repeat: no-repeat;
    background-size: 80%;
   /* solid orange;  */
    }














@media (min-width:601px) and (max-width:1024px) {

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 120px 400px 1fr;
    grid-auto-rows: minmax(200px, auto);
    border: 2px solid red;
    }
   
   

.header{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.sidebar{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.content {
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.footer {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}
}








@media (min-width:1001px) {
.container{
    display: grid;
    grid-template-columns: 30% 1fr;
    /*grid-template-rows: 100px 200px 500px 100px;*/
    grid-auto-rows: minmax(200px, auto);
    border: 2px solid red;
    }


    .header{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    }

    .sidebar{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    }

    .content {
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    }

    .footer {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    }
}