body{
    font-size: 12px;
}
/* Configuration breaks at 601 px. Optimized for Iphone 8 */ 

.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 70px 120px 400px 50px;
    /*grid-auto-rows: minmax(100px, auto);*/
    border: 2px solid red;
}

/* Nav bar, displays home left. Menu to the right?*/

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 0.9em;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;    
}
h1 {
    border: 2px solid red;
    
    }

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    }

.title {
    display:flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    justify-content: center;
    font-size: 0.9em;
    border: 1px solid blue;
}
.menu{
    display: flex;
    align-items: center;
    border: 2px solid red;
    justify-content: center;
    }

.sidebar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 118px;
    text-align: center;
    align-items: center;
    justify-items:center;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

#box1 {
    width: 80px;
    height: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;  
    border-radius: 60%;  
    background-image: url("author_photo.png");
    background-size: cover;
    border: 3px solid black;

    }

#box2 {
    border: 1px solid pink;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; 
    font-size: 0.9em;
}



.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
    /*align-items: center;
    justify-items:center;*/
}

#box4 {
     border: 1px solid green;
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 2;
    
}
p { 
    border: 1px solid green;

}

#box5{
    border: 1px solid black;
    grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 2;
}
caption {
    border: 1px solid red;
    font-size: 1em;
    caption-side: bottom;
}
#box6{
    border: 1px solid purple;
    grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
}



.footer {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}









@media (min-width:601px) and (max-width:1024px) {

.container{
    display: grid;
    grid-template-columns: 30% 1fr;
    /*grid-template-rows: 100px 200px 500px 100px;*/
    grid-auto-rows: minmax(200px, auto);
    border: 2px solid red;
    }
   

.header{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.sidebar{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.content {
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.footer {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}
}








@media (min-width:1001px) {
.container{
    display: grid;
    grid-template-columns: 30% 1fr;
    /*grid-template-rows: 100px 200px 500px 100px;*/
    grid-auto-rows: minmax(200px, auto);
    border: 2px solid red;
    }


    .header{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    }

    .sidebar{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    }

    .content {
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    }

    .footer {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    }
}