body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: wheat;
    }
/* Configuration breaks at 601 px. Optimized for Iphone 8 */ 

.container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    /*grid-auto-rows: minmax(75px, auto);*/
    grid-template-rows: 75px 120px 400px 1fr;
    border: 2px solid red;
    }


/* remember hover*/
.header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px;
    align-content: center;
   /* border: 1px solid black;  */
    }

h1 {
    width: auto;
    height: auto;
    /*font-size: 1.2em;*/
    /*border: 2px solid red;*/
    }

.home {
    display: flex;
    width: auto;
    height: auto;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
    }

.title {
    display:flex;
    grid-column-start: 2;
    grid-column-end: 4;
    width: auto;
    height: auto;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
   /* border: 1px solid blue;*/
    }


.menu{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    }
.menubox {
    display: flex;
    background-image: url("images/sandwich-menu-icon.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 50%;
    border: 2px solid yellow;  
         }  


.sidebar {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;
    align-items: center;
    justify-items:center;
    border: 1px solid black;
    }

p { 
    margin: 10px;
    border: 2px solid green;
    text-align: justify;
    }

#box1 {
    width: 80px;
    height: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;  
    border-radius: 60%;  
    /*background-image: url("author_photo.png");
    background-size: cover;*/
    border: 3px solid black;
    }

#box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; 
    font-size: 1em;
    text-align: center;
    border: 1px solid pink;
    }
    h2{
        font-size: 1em;
    }


.content {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 200px;
    grid-gap: 2%;
    margin: 1%;
    text-align: center;
    border: 1px solid black;
    }

#box4 {
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 1;
     border: 1px solid green;
    }

#box5 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 2;
     width: auto;
     height: auto;
     background-image: url("images/fermented_cabbage.jpg");
     background-size: cover;
     border: 2px solid black;
    }

#box6 {
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
     background-image: url("images/little_plants.jpg");
     background-size: cover;
     border: 1px solid purple;
    }


.footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 50px;
    border: 1px solid black; 
    }

#about {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    /*border: 2px solid black;*/
    }

#contact {
    margin: 10%;
    background-image: url("images/icon_sm.png");
    background-repeat: no-repeat;
    background-size: 80%;
   /* solid orange;  */
    }


/* here start 601 pxs
 here start 601 pxs
  here start 601 pxs
   here start 601 pxs*/








@media (min-width:601px) and (max-width:1024px) {

    .container {
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr 60% 1fr;
        grid-auto-rows: minmax(200px, auto);
        justify-content: center;
        border: 2px solid red;
    }

    .header {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;  
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 75px;
        font-size: 1em; 
        align-content: center;
        border: 3px solid black;  
        }

    h1 {
        width: auto;
        height: auto;
        font-size: 2.5em;
        border: 2px solid red;
        }

    .home {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        font-size: 1.1em;
        border: 2px solid red;
         }
       
    .title {
        display:flex;
        grid-column-start: 2;
        grid-column-end: 4;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        border: 1px solid blue;   
       }
    /* buscar otro icono */       
    .menubox {
       background-image: url("images/sandwich-menu-icon.jpg");
       background-size: cover;
       width: 50%;
       height: 100%;
       border: 2px solid yellow;
        }       

    .sidebar {
      display: grid;
      margin: 0;
      grid-template-columns: 1fr ;
      grid-template-rows: 70% 30%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4;
      border: 1px solid black;
      }

    p { 
      width: auto;
      height: auto;
      font-size: 1.5em;
      margin: 10px;
      border: 1px solid blue;
      text-align: justify;
      }

    #box1 {
        width: 200px;
        height: 200px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;  
        border-radius: 60%;  
        /*background-image: url("author_photo.png");
        background-size: cover;*/
        border: 3px solid black;
        }
    
    #box2 {
        width: auto;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2; 
        font-size: 1em;
        text-align: center;
        border: 1px solid pink;
        }

        h2 {
            font-size: 1.5em;
        }


    .content {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 50%;
        margin: 0%;
        text-align: center;
        border: 1px solid red;
        }
        h3{
            font-size: 1.5em;
        }
        
    #box4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        border: 1px solid green;
        }
        
    #box5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        width: auto;
        height: auto;
        background-image: url("images/fermented_cabbage.jpg");
        background-size: cover;
        border: 2px solid black;
        }    
        
    #box6 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("images/little_plants.jpg");
        background-size: cover;
        border: 1px solid purple;
        }   

             
    .footer {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 40% 60%;
        justify-items: center;
        border: 1px solid yellow;
        }

    #about {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 1em;
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 2;
       grid-row-end: 3;
       border: 2px solid black;
       }

    #contact {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin: 3%;
      width: 150px;
      height: 50px;
      background-image: url("images/icon_sm.png");
      background-repeat: no-repeat;
      background-size: 100%;
      border: 2px solid orange;  
      }

}












@media (min-width:1001px) {
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 70% 1fr;
    /*grid-auto-rows: minmax(200px, auto);*/
    justify-content: center;
    border: 2px solid red;
    }


    .header{
   
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px;
    font-size: 1em; 
    align-content: center;
    border: 1px solid black;
    }

    h1 {
        width: auto;
        height: auto;
        font-size: 2.5em;
        border: 2px solid red;
        }

    .home {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        font-size: 1.1em;
        border: 2px solid red;
         }
       
    .title {
        display:flex;
        grid-column-start: 2;
        grid-column-end: 4;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        border: 1px solid blue;   
       }
            

    .menu {
       display: flex;
       width: auto;
       height: auto;
       justify-content: center;
       font-size: 1.1em;
       border: 2px solid red;
        }   


    .sidebar{
       display: grid;
       margin: 0;
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start: 2;
       grid-row-end: 4;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       border: 1px solid black;
       }
       p { 
        width: auto;
        height: auto;
        font-size: 1.5em;
        margin: 10px;
        border: 1px solid blue;
        text-align: justify;
        }
        #box1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 130px;
        height: 130px;  
        border-radius: 40%;  
         /*background-image: url("author_photo.png");
          background-size: cover;*/
        }

        #box2 {
        width: auto;
        height: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; 
        font-size: 1em;
        text-align: center;
        border: 1px solid pink;
          }
  
        h2 {
              font-size: 1.5em;
          }


    .content {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 50%;
        margin: 0%;
        text-align: center;
        border: 1px solid red;
        }
        h3{
            font-size: 1.5em;
        }
        
    #box4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        border: 1px solid green;
        }
        
    #box5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        width: auto;
        height: auto;
        background-image: url("images/fermented_cabbage.jpg");
        background-size: cover;
        border: 2px solid black;
        }    
        
    #box6 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("images/little_plants.jpg");
        background-size: cover;
        border: 1px solid purple;
        }   


    .footer {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 40% 60%;
        justify-items: center;
        border: 1px solid yellow;
        }

    #about {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 1em;
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 2;
       grid-row-end: 3;
       border: 2px solid black;
       }

    #contact {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin: 3%;
      width: 150px;
      height: 50px;
      background-image: url("images/icon_sm.png");
      background-repeat: no-repeat;
      background-size: 100%;
      border: 2px solid orange;  
      }

}